.footer {
    width: 55%;
    margin-top: 30px;
    display: inline-flex;
    justify-content: flex-end;


    .insta {
        padding-right: 20px;
    }

    .facebook {
        padding-right: 20px;
    }
}

.footerText {
    padding-top: 5px;
    color: #e2e0d3;
    width: 54.7%;
    display: inline-flex;
    justify-content: flex-end;
}