.collection-preview {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 30px;
    margin: 30px auto 30px;
  }

  .preview {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 30px;
  }
}